.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: transparent;
  max-width: 90%;
  max-height: 90%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.closeButton:hover {
  color: #ddd;
}
